<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Color Lines NG</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>PressStart2P.ttf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.vlbor.ColorLinesNG</string>
	<key>UIStatusBarStyle</key>
	<string>White</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>This app requires access to the photo library.</string>
</dict>
</plist>
